{% extends 'base.html' %}
{% block lib %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}
{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %}


<div class="authorizen">
    <div class="sign_in">
<form  action="{{ url_for('auth.sign_in')}}" class="form-signin" method="POST" >
    <h1 class="h3 mb-3 font-weight-normal">авторизируйтесь</h1>
    <input type="text" name="log_login" class="form-control" placeholder="Логин" required autofocus>
    <input type="password" name="log_password" class="form-control" placeholder="Пароль" required>
    <button class="btn  btn-primary" type="submit">Войти</button>
  </form>
</div>
<div class="registr">
    <form  action="{{ url_for('auth.reg')}}" class="form-signin" method="POST" >
        <h1 class="h3 mb-3 font-weight-normal">Зарегестрироваться</h1>
        <input type="text" name='reg_login' id="inputEmail" class="form-control" placeholder="Логин" required autofocus >
        <input type="text" name='reg_user_fio' id="inputEmail" class="form-control" placeholder="ФИО" required >
        <input type="password" name='reg_password'  class="form-control" placeholder="Пароль" required>
        <input type="password" name='reg_password2'  class="form-control" placeholder="Повторите пароль" required>
        <button class="btn  btn-primary " type="submit">Зарегестрироваться</button>
      </form>
    </div>
</div>
{% endblock %}