{% extends 'base.html' %}
{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %}
<form class="from" action="{{url_for('main.set', id = appeal.id)}}" method="POST">
  <label  class="col-sm-2 col-form-label ">Пользователь:</label>
  <input type="text" name="red_user_fio" class="form-control"  readonly="readonly" value="{{user.query.filter_by(id = current_user.id).first().user_fio}}" >
{% if current_user.role == 1 %}
  <div class="form-group">
    <label for="sel1">Тип обращения:</label>
    <select class="form-control" name="red_appeal_type" id="sel1" >
      <option value ='1' >{{type_appeal.query.filter_by(id = 1).first().type_appeal}}</option>
      <option value ='2'>{{type_appeal.query.filter_by(id = 2).first().type_appeal}}</option>
      <option value ='3'>{{type_appeal.query.filter_by(id = 3).first().type_appeal}}</option>
      <option value ='4'>{{type_appeal.query.filter_by(id = 4).first().type_appeal}}</option>
      <option value ='5'>{{type_appeal.query.filter_by(id = 5).first().type_appeal}}</option>
    </select>
  </div>
  {% endif %}
  <label  class="col-sm-2 col-form-label ">Статус обращения:</label>
  <div class="form-group">
    <select class="form-control" name="red_appeal_status" id="sel1" >
      <option value ='1' >{{appeal_status.query.filter_by(id = 1).first().status_appeal}}</option>
      <option value ='2'>{{appeal_status.query.filter_by(id = 2).first().status_appeal}}</option>
      <option value ='3'>{{appeal_status.query.filter_by(id = 3).first().status_appeal}}</option>
      <option value ='4'>{{appeal_status.query.filter_by(id = 4).first().status_appeal}}</option>
      <option value ='5'>{{appeal_status.query.filter_by(id = 5).first().status_appeal}}</option>
    </select>
  </div>
  {% if current_user.role == 1 %}
  <label for="sel1">Сообщение:</label>
 <input type="text" name="new_message"  value="{{appeal.query.filter_by(id = appeal.id).first().message_appeal}}" class="form-control" readonly="readonly" required >
 {% endif %}
 <input type="submit" class="btn btn-primary" >
</form>
{% endblock %}